$app-brand-left-margin: ratio(-10px);

$app-introduction-vertical-padding: ratio(89px);

$app-description-max-width: ratio(640px);
$app-description-top-margin: ratio(21px);

$app-categories-top-margin: ratio(55px);

.App {
  display: grid;
  grid-template-columns: auto ratio(144px) 50vw;
  grid-template-rows: ratio(148px) auto;
  grid-template-areas:
    'introduction . header'
    'introduction . main';

  &__introduction {
    grid-area: introduction;
    justify-self: end;
    align-self: center;

    padding: $app-introduction-vertical-padding 0;
  }

  &__brand {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    margin-left: $app-brand-left-margin;
  }

  &__description {
    max-width: $app-description-max-width;
    margin-top: $app-description-top-margin;
  }

  &__categories {
    margin-top: $app-categories-top-margin;
  }

  &__header {
    grid-area: header;
  }

  &__main {
    grid-area: main;
  }
}
