html {
  font-size: 21px;
}

body {
  @include type-setting();

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  background-color: color(white);
}

html,
body,
input,
textarea,
select,
button {
  font-family: 'Montserrat', sans-serif;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

::selection {
  background-color: color(zumthor);
}
