@import '~modularscale-sass';

$modularscale: (
  base: ratio(1rem),
  ratio: $fourth,
);

$font-weight: (
  light: 300,
  medium: 500,
  semi-bold: 600,
  bold: 700,
);

@function type-scale($level) {
  @return ms($level);
}

@function font-weight($weight) {
  @return map-get($font-weight, $weight);
}

@function line-height($level) {
  @return $golden * ms($level);
}

@mixin type-setting($level: 0, $weight: medium) {
  font-size: type-scale($level);
  font-weight: font-weight($weight);
  line-height: line-height($level);
}

%reset-margin {
  margin: 0;
}

$heading-weights: (
  1: font-weight(bold),
  2: font-weight(semi-bold),
  3: font-weight(semi-bold),
  4: font-weight(semi-bold),
  5: font-weight(semi-bold),
  6: font-weight(semi-bold),
);

@for $i from 1 through 6 {
  .heading-#{$i} {
    @extend %reset-margin;
    @include type-setting(4 - $i, map-get($heading-weights, $i));

    color: color(big-stone);
  }
}

.paragraph {
  @extend %reset-margin;
  @include type-setting();

  color: color(blue-bayoux);
}

.anchor {
  @extend %reset-margin;

  @include type-setting();
  text-decoration: none;

  border-bottom: solid 1px color(dodger-blue);

  color: color(dodger-blue);
}

.caption {
  @extend %reset-margin;
  @include type-setting(-1);

  color: color(heather);
}
